$primary-color: #3498db;
$color: black;
$font-size: 50px;

body {
    font-family: Arial, sans-serif;
    background-color: $primary-color;
    color: white;
}
p{
    color: $color;
    font-size: $font-size;
}